

body {
    /* background: radial-gradient(#861701,#1f1013); Red Theme */
    /*background: radial-gradient(#012361,#1f1013); Blue Theme*/
    /*background: radial-gradient(#013a54,#1f1013);*/
    background: rgba(255, 255, 255, 0.5);
}

body::before {
    top: 0;
    left: 0;
    position: fixed;
    content: "";
    display: block;
    background-image: url('../../assets/images/philippines.svg');
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: .05;
    width: 100%;
    height: 100%;
    z-index: -1;
}
