@import "./menu.css";
@import "./animation.css";

#alpine-app {
    /* opacity: 0;
    transition: opacity .5s ease;
    -webkit-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -ms-transition: opacity .5s ease; */
}

#alpine-app.show {
    /* opacity: 1 !important; */
}

#modal-init {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .9);
    z-index: 100;
    opacity: 1;
    transition: opacity .5s ease;
    -webkit-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -ms-transition: opacity .5s ease;
}

#modal-init.loaded {
    opacity: 0;
}

#modal-init .loader {
    position: absolute;
    top: 50%;
    left: 50%;
}