@import "./menu.css";
@import "./animation.css";

#alpine-app {
    /* opacity: 0;
    transition: opacity .5s ease;
    -webkit-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -ms-transition: opacity .5s ease; */
}

#alpine-app.show {
    /* opacity: 1 !important; */
}